:root{
    --text-color-content: #9a9a9a;
    --text-color-title:  #ffffff;
    --purple-color: #ba71da;
    --green-color: #1bbc9b;
    --blue-color: #14b9d5;
    --yellow-color: #ffd205;
    --red-color: #f76570;
    --text-color-sub-title: #555555;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;

}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    width: 33.333%;
}

.col-9{
    width: 66.667%;
}

.travel-tour{
    padding: 20px 35px 20px 15px;
}

.travel-tour__header-local{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color-content);
}

.travel-tour__header-name{
    font-size: 3.6rem;
    padding: 20px 0 45px 0;
    color: var(--text-color-sub-title);
    line-height: 3rem;
    font-weight: 800;
}

.travel-tour__content{

}

.travel-tour__price{

}

.travel-tour__prices-old{

}

.travel-tour__prices-new{

}

.travel-tour__prices-person{

}

.travel-tour__book{

}

.travel-tour__book-link{

}
