:root{
    --text-color-content: #9a9a9a;
    --text-color-title:  #ffffff;
    --purple-color: #ba71da;
    --green-color: #1bbc9b;
    --blue-color: #14b9d5;
    --yellow-color: #ffd205;
    --red-color: #f76570;
    --text-color-sub-title: #555555;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;

}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    width: 33.333%;
}

.col-9{
    width: 66.667%;
}


